* text=auto !eol
/HTMLEntities.res -text
/XMLEntities.res -text
/build-srw.bat -text
/build-zoom.xml -text
/build.xml -text
distrib/client/license.txt -text
distrib/client/readme.html -text
distrib/server/ServerStart.bat -text
distrib/server/ServerTest.bat -text
distrib/server/TestClient.bat -text
distrib/server/license.txt -text
distrib/server/readme.html -text
documentation/index.html -text
documentation/programmerguides/index.html -text
documentation/userguides/index.html -text
lib/axis/axis-ant.jar -text
lib/axis/axis.jar -text
lib/axis/commons-discovery.jar -text
lib/axis/commons-logging.jar -text
lib/axis/jaxrpc.jar -text
lib/axis/log4j-1.2.8.jar -text
lib/axis/log4j.properties -text
lib/axis/saaj.jar -text
lib/axis/wsdl4j.jar -text
lib/cql-java.jar -text
lib/jasig-XsltPortlet.jar -text
lib/java-zoom-api.jar -text
lib/jdbc/jtds-0.4.jar -text
lib/jdbc/mysql-connector-java-2.0.14-bin.jar -text
lib/portlet-api-1.0.jar -text
lib/servlet.jar -text
lib/xalan.jar -text
lib/xercesImpl.jar -text
lib/xml-apis.jar -text
lib/xmlParserAPIs.jar -text
lib/zebulun.jar -text
src/org/jafer/conf/OpenURL/openURL.xml -text
src/org/jafer/conf/SRWSchemaMappings.xml -text
src/org/jafer/conf/ZGet/bib1.xml -text
src/org/jafer/conf/ZServer/server.xml -text
src/org/jafer/conf/bib1Attributes.xml -text
src/org/jafer/conf/bib1Diagnostics.xml -text
src/org/jafer/conf/characterSets/arabic.xml -text
src/org/jafer/conf/characterSets/characterSets.xml -text
src/org/jafer/conf/characterSets/cyrillic.xml -text
src/org/jafer/conf/characterSets/eastAsian.xml -text
src/org/jafer/conf/characterSets/greek.xml -text
src/org/jafer/conf/characterSets/greekSymbols.xml -text
src/org/jafer/conf/characterSets/hebrew.xml -text
src/org/jafer/conf/characterSets/latin.xml -text
src/org/jafer/conf/characterSets/subscripts.xml -text
src/org/jafer/conf/characterSets/superscripts.xml -text
src/org/jafer/conf/cqlContextSets.xml -text
src/org/jafer/conf/jdbcConfig/MODSTemplate.xml -text
src/org/jafer/conf/jdbcConfig/OAITemplate.xml -text
src/org/jafer/conf/jdbcConfig/config.xml -text
src/org/jafer/conf/jdbcConfig/query.xsl -text
src/org/jafer/conf/jdbcConfig/server.xml -text
src/org/jafer/conf/logging.properties -text
src/org/jafer/conf/query-schema.dtd -text
src/org/jafer/conf/query/query-schema.xsd -text
src/org/jafer/conf/recordDescriptor.xml -text
src/org/jafer/conf/searchProfiles.xml -text
src/org/jafer/databeans/Adaptor.java -text
src/org/jafer/databeans/AdaptorFactory.java -text
src/org/jafer/databeans/DatabeanManager.java -text
src/org/jafer/databeans/DatabeanManagerFactory.java -text
src/org/jafer/databeans/JDBC.java -text
src/org/jafer/databeans/JDBCFactory.java -text
src/org/jafer/databeans/MySQLDatabean.java -text
src/org/jafer/databeans/QueryAdaptor.java -text
src/org/jafer/databeans/QueryAdaptorFactory.java -text
src/org/jafer/databeans/RecordAdaptor.java -text
src/org/jafer/databeans/RecordAdaptorFactory.java -text
src/org/jafer/databeans/TDSDatabean.java -text
src/org/jafer/databeans/ZeerexFactory.java -text
src/org/jafer/databeans/ZurlFactory.java -text
src/org/jafer/exception/JaferException.java -text
src/org/jafer/interfaces/Authenticate.java -text
src/org/jafer/interfaces/Authentication.java -text
src/org/jafer/interfaces/Cache.java -text
src/org/jafer/interfaces/Connection.java -text
src/org/jafer/interfaces/Databean.java -text
src/org/jafer/interfaces/DatabeanFactory.java -text
src/org/jafer/interfaces/Deprecated.java -text
src/org/jafer/interfaces/Logging.java -text
src/org/jafer/interfaces/Present.java -text
src/org/jafer/interfaces/QueryBuilder.java -text
src/org/jafer/interfaces/Scan.java -text
src/org/jafer/interfaces/Search.java -text
src/org/jafer/interfaces/Sort.java -text
src/org/jafer/interfaces/Z3950Connection.java -text
src/org/jafer/portlets/AbstractXSLTPortlet.java -text
src/org/jafer/portlets/DistributedSearchPortlet.java -text
src/org/jafer/portlets/XsltSearchPortlet.java -text
src/org/jafer/portlets/xslt/PortletContentSerializer.java -text
src/org/jafer/portlets/xslt/SAXElement.java -text
src/org/jafer/portlets/xslt/XSLTPortletRequestDispatcher.java -text
src/org/jafer/query/CQLQuery.java -text
src/org/jafer/query/JaferQuery.java -text
src/org/jafer/query/QueryBuilder.java -text
src/org/jafer/query/QueryConverter.java -text
src/org/jafer/query/QueryException.java -text
src/org/jafer/query/QueryParser.java -text
src/org/jafer/query/RPNQuery.java -text
src/org/jafer/query/converter/CQLQueryConverter.java -text
src/org/jafer/query/converter/Converter.java -text
src/org/jafer/query/converter/JaferQueryConverter.java -text
src/org/jafer/query/converter/RPNQueryConverter.java -text
src/org/jafer/readinglist/Basket.java -text
src/org/jafer/record/AbstractCache.java -text
src/org/jafer/record/Cache.java -text
src/org/jafer/record/DataObject.java -text
src/org/jafer/record/Diagnostic.java -text
src/org/jafer/record/Field.java -text
src/org/jafer/record/GRS1Record.java -text
src/org/jafer/record/HashtableCache.java -text
src/org/jafer/record/MARC8Unicode.java -text
src/org/jafer/record/MARCRecord.java -text
src/org/jafer/record/OPACRecord.java -text
src/org/jafer/record/RecordException.java -text
src/org/jafer/record/RecordFactory.java -text
src/org/jafer/record/SUTRSRecord.java -text
src/org/jafer/record/TermRecord.java -text
src/org/jafer/record/XMLRecord.java -text
src/org/jafer/servlet/ServletUtil.java -text
src/org/jafer/servlet/ZServlet.java -text
src/org/jafer/sru/SRUException.java -text
src/org/jafer/sru/SRUtoSRWBridgeConfig.xml -text
src/org/jafer/sru/SRUtoSRWConfig.java -text
src/org/jafer/sru/bridge/ExplainOperationBridge.java -text
src/org/jafer/sru/bridge/OperationBridge.java -text
src/org/jafer/sru/bridge/SRUtoSRWBridge.java -text
src/org/jafer/sru/bridge/ScanOperationBridge.java -text
src/org/jafer/sru/bridge/SearchRetrieveOperationBridge.java -text
src/org/jafer/sru/bridge/V1Bridge.java -text
src/org/jafer/sru/servlet/SRUServlet.java -text
src/org/jafer/test/Demo.java -text
src/org/jafer/test/ServerStart.java -text
src/org/jafer/test/ServerTest.java -text
src/org/jafer/test/TestClient.java -text
src/org/jafer/test/TestSRW.java -text
src/org/jafer/transport/ConnectionException.java -text
src/org/jafer/transport/PDUDriver.java -text
src/org/jafer/util/CompressedXMLDecoder.java -text
src/org/jafer/util/Config.java -text
src/org/jafer/util/XMLFileUriResolver.java -text
src/org/jafer/util/xml/DOMFactory.java -text
src/org/jafer/util/xml/ErrorListener.java -text
src/org/jafer/util/xml/XMLSerializer.java -text
src/org/jafer/util/xml/XMLTransformer.java -text
src/org/jafer/util/xml/XMLTree.java -text
src/org/jafer/xsl/OpenURL/MODS_list.xsl -text
src/org/jafer/xsl/OpenURL/MODS_single.xsl -text
src/org/jafer/xsl/OpenURL/OAI_list.xsl -text
src/org/jafer/xsl/OpenURL/OAI_single.xsl -text
src/org/jafer/xsl/OpenURL/exception.xsl -text
src/org/jafer/xsl/RLIList.xsl -text
src/org/jafer/xsl/ZGet/MODS_list.xsl -text
src/org/jafer/xsl/ZGet/MODS_single.xsl -text
src/org/jafer/xsl/ZGet/OAI_list.xsl -text
src/org/jafer/xsl/ZGet/OAI_single.xsl -text
src/org/jafer/xsl/ZGet/OxfordCustomisation/OAI_list.xsl -text
src/org/jafer/xsl/ZGet/OxfordCustomisation/OAI_single.xsl -text
src/org/jafer/xsl/ZGet/exception.xsl -text
src/org/jafer/xsl/beans/bean-decode.xsl -text
src/org/jafer/xsl/beans/queryAdaptor.xsl -text
src/org/jafer/xsl/beans/recordAdaptor.xsl -text
src/org/jafer/xsl/bib1List.xsl -text
src/org/jafer/xsl/cql/JQFtoXCQL.xsl -text
src/org/jafer/xsl/cql/XCQLtoCQL.xsl -text
src/org/jafer/xsl/cql/XCQLtoJQF.xsl -text
src/org/jafer/xsl/jspViewItem.xsl -text
src/org/jafer/xsl/jspViewList.xsl -text
src/org/jafer/xsl/output.xsl -text
src/org/jafer/xsl/query.xsl -text
src/org/jafer/xsl/readingListTable.xsl -text
src/org/jafer/xsl/record/DC2LOM.xsl -text
src/org/jafer/xsl/record/DC2MARC21slim.xsl -text
src/org/jafer/xsl/record/DC2RLI.xsl -text
src/org/jafer/xsl/record/GILS2RLI.xsl -text
src/org/jafer/xsl/record/GRS12GILS.xsl -text
src/org/jafer/xsl/record/MARC21slim2DC.xsl -text
src/org/jafer/xsl/record/MARC21slim2MODS3.xsl -text
src/org/jafer/xsl/record/MARC21slim2OAIMARC.xsl -text
src/org/jafer/xsl/record/MODS2Up2MODS3.xsl -text
src/org/jafer/xsl/record/OAI2OPAC.xsl -text
src/org/jafer/xsl/record/OAIMARC2LOM.xsl -text
src/org/jafer/xsl/record/OAIMARC2MARC21slim.xsl -text
src/org/jafer/xsl/record/OAIMARC2MODS.xsl -text
src/org/jafer/xsl/record/OAIMARC2RLI.xsl -text
src/org/jafer/xsl/record/OAIMARC2UKMARC.xsl -text
src/org/jafer/xsl/server/info.xsl -text
src/org/jafer/xsl/server/server-decode.xsl -text
src/org/jafer/zclient/AbstractClient.java -text
src/org/jafer/zclient/SRWClient.java -text
src/org/jafer/zclient/SRWSession.java -text
src/org/jafer/zclient/SerializationException.java -text
src/org/jafer/zclient/Session.java -text
src/org/jafer/zclient/ZClient.java -text
src/org/jafer/zclient/ZClientFactory.java -text
src/org/jafer/zclient/ZSession.java -text
src/org/jafer/zclient/operations/Init.java -text
src/org/jafer/zclient/operations/Present.java -text
src/org/jafer/zclient/operations/PresentException.java -text
src/org/jafer/zclient/operations/Scan.java -text
src/org/jafer/zclient/operations/Search.java -text
src/org/jafer/zoom/ConnectionImpl.java -text
src/org/jafer/zoom/DiagnosticException.java -text
src/org/jafer/zoom/META-INF/services/org.z3950.zoom.Connection -text
src/org/jafer/zoom/META-INF/services/org.z3950.zoom.query.CQL -text
src/org/jafer/zoom/META-INF/services/org.z3950.zoom.query.RPN -text
src/org/jafer/zoom/QueryImplCQL.java -text
src/org/jafer/zoom/QueryImplRPN.java -text
src/org/jafer/zoom/RecordImpl.java -text
src/org/jafer/zoom/ResultSetImpl.java -text
src/org/jafer/zoom/SystemException.java -text
src/org/jafer/zoom/test/Tester.java -text
src/org/jafer/zserver/AdminServlet.java -text
src/org/jafer/zserver/Session.java -text
src/org/jafer/zserver/ZServer.java -text
src/org/jafer/zserver/ZServerManager.java -text
src/org/jafer/zserver/ZServerThread.java -text
src/org/jafer/zserver/authenticate/BasicAuthenticate.java -text
src/org/jafer/zserver/authenticate/UserCredentials.java -text
src/org/jafer/zserver/operations/Delete.java -text
src/org/jafer/zserver/operations/Init.java -text
src/org/jafer/zserver/operations/Operation.java -text
src/org/jafer/zserver/operations/OperationException.java -text
src/org/jafer/zserver/operations/Present.java -text
src/org/jafer/zserver/operations/Scan.java -text
src/org/jafer/zserver/operations/Search.java -text
src/org/jafer/zserver/operations/Sort.java -text
src/org/jafer/zserver/util/ContextListener.java -text
src/org/jafer/zserver/util/Lock.java -text
test/org/jafer/JafferTestSuite.java -text
test/org/jafer/query/JaferQueryTestObject.java -text
test/org/jafer/query/QueryBuilderTest.java -text
test/org/jafer/query/converter/CQLQueryConverterTest.java -text
test/org/jafer/query/converter/JaferQueryConverterTest.java -text
test/org/jafer/query/converter/RPNQueryConverterTest.java -text
test/org/jafer/sru/SRUroSRWBridgeTestSuite.java -text
test/org/jafer/sru/SRUtoSRWBridgeTest.java -text
test/org/jafer/sru/bridge/ExplainBridgeTest.java -text
test/org/jafer/sru/bridge/ScanBridgeTest.java -text
test/org/jafer/sru/bridge/SearchRetrieveBridgeTest.java -text
webapps/Portlet/WEB-INF/jaferportlet_en.properties -text
webapps/Portlet/WEB-INF/portlet.xml -text
webapps/Portlet/WEB-INF/tld/portlet.tld -text
webapps/Portlet/WEB-INF/web.xml -text
webapps/Portlet/images/Thumbs.db -text
webapps/Portlet/images/cross.gif -text
webapps/Portlet/images/find.gif -text
webapps/Portlet/images/info.gif -text
webapps/Portlet/images/left.gif -text
webapps/Portlet/images/return.gif -text
webapps/Portlet/images/right.gif -text
webapps/Portlet/images/viewHTML.gif -text
webapps/Portlet/images/viewXML.gif -text
webapps/Portlet/xsl/item.xsl -text
webapps/Portlet/xsl/list.xsl -text
webapps/Portlet/xsl/search.xsl -text
webapps/SRUServer/WEB-INF/.cvsignore -text
webapps/SRUServer/WEB-INF/lib/axis-ant.jar -text
webapps/SRUServer/WEB-INF/lib/axis.jar -text
webapps/SRUServer/WEB-INF/lib/commons-discovery.jar -text
webapps/SRUServer/WEB-INF/lib/commons-logging.jar -text
webapps/SRUServer/WEB-INF/lib/cql-java.jar -text
webapps/SRUServer/WEB-INF/lib/jafer-client.jar -text
webapps/SRUServer/WEB-INF/lib/jaxrpc.jar -text
webapps/SRUServer/WEB-INF/lib/log4j-1.2.8.jar -text
webapps/SRUServer/WEB-INF/lib/log4j.properties -text
webapps/SRUServer/WEB-INF/lib/saaj.jar -text
webapps/SRUServer/WEB-INF/lib/wsdl4j.jar -text
webapps/SRUServer/WEB-INF/lib/xalan.jar -text
webapps/SRUServer/WEB-INF/lib/xercesImpl.jar -text
webapps/SRUServer/WEB-INF/lib/xml-apis.jar -text
webapps/SRUServer/WEB-INF/lib/xmlParserAPIs.jar -text
webapps/SRUServer/WEB-INF/lib/zebulun.jar -text
webapps/SRUServer/WEB-INF/web.xml -text
webapps/SRUServer/css/sru-styles.css -text
webapps/SRUServer/error.jsp -text
webapps/SRUServer/images/SRUTitle.png -text
webapps/SRUServer/images/oxfordcrest.gif -text
webapps/SRUServer/index.jsp -text
webapps/readinglist/WEB-INF/web.xml -text
webapps/readinglist/add.gif -text
webapps/readinglist/basket.jsp -text
webapps/readinglist/checkout.jsp -text
webapps/readinglist/error.jsp -text
webapps/readinglist/readingList.jpx -text
webapps/readinglist/readme.html -text
webapps/readinglist/recordDetail.jsp -text
webapps/readinglist/remove.gif -text
webapps/readinglist/search.jsp -text
webapps/readinglist/tomcat.gif -text
webapps/sample/WEB-INF/web.xml -text
webapps/sample/error.jsp -text
webapps/sample/query.html -text
webapps/sample/search.jsp -text
webapps/sample/show.jsp -text
webapps/search/WEB-INF/web.xml -text
webapps/search/advancedSearch.html -text
webapps/search/client.jsp -text
webapps/search/cross.gif -text
webapps/search/error.jsp -text
webapps/search/exampleSearch.html -text
webapps/search/find.gif -text
webapps/search/info.gif -text
webapps/search/item.jsp -text
webapps/search/left.gif -text
webapps/search/list.jsp -text
webapps/search/return.gif -text
webapps/search/right.gif -text
webapps/search/searchHelp.jsp -text
webapps/search/simpleSearch.html -text
webapps/search/viewHTML.gif -text
webapps/search/viewXML.gif -text
webapps/serverAdmin/WEB-INF/web.xml -text
webapps/servlet/WEB-INF/web.xml -text
webapps/servlet/corner-bl.gif -text
webapps/servlet/corner-br.gif -text
webapps/servlet/corner-tl.gif -text
webapps/servlet/corner-tr.gif -text
webapps/servlet/index.html -text
webapps/servlet/servlet.jpx -text
webapps/servlet/zget.css -text
webapps/wap/WEB-INF/web.xml -text
