* text=auto !eol
/build-srw.bat -text
/build.xml -text
distrib/client/license.txt -text
distrib/client/readme.html -text
distrib/server/ServerStart.bat -text
distrib/server/ServerTest.bat -text
distrib/server/TestClient.bat -text
distrib/server/license.txt -text
distrib/server/readme.html -text
documentation/index.html -text
documentation/programmerguides/index.html -text
documentation/userguides/index.html -text
lib/axis/axis-ant.jar -text
lib/axis/axis.jar -text
lib/axis/commons-discovery.jar -text
lib/axis/commons-logging.jar -text
lib/axis/jaxrpc.jar -text
lib/axis/log4j-1.2.8.jar -text
lib/axis/log4j.properties -text
lib/axis/saaj.jar -text
lib/axis/wsdl4j.jar -text
lib/jdbc/jtds-0.4.jar -text
lib/jdbc/mysql-connector-java-2.0.14-bin.jar -text
lib/servlet.jar -text
lib/xalan.jar -text
lib/xercesImpl.jar -text
lib/xml-apis.jar -text
lib/xmlParserAPIs.jar -text
lib/zebulun.jar -text
src/org/jafer/conf/CompressedXMLDecoder.java -text
src/org/jafer/conf/Config.java -text
src/org/jafer/conf/bib1.xml -text
src/org/jafer/conf/bib1Attributes.xml -text
src/org/jafer/conf/bib1Diagnostics.xml -text
src/org/jafer/conf/characterSets/arabic.xml -text
src/org/jafer/conf/characterSets/characterSets.xml -text
src/org/jafer/conf/characterSets/cyrillic.xml -text
src/org/jafer/conf/characterSets/eastAsian.xml -text
src/org/jafer/conf/characterSets/greek.xml -text
src/org/jafer/conf/characterSets/greekSymbols.xml -text
src/org/jafer/conf/characterSets/hebrew.xml -text
src/org/jafer/conf/characterSets/latin.xml -text
src/org/jafer/conf/characterSets/subscripts.xml -text
src/org/jafer/conf/characterSets/superscripts.xml -text
src/org/jafer/conf/jdbcConfig/MODSTemplate.xml -text
src/org/jafer/conf/jdbcConfig/OAITemplate.xml -text
src/org/jafer/conf/jdbcConfig/config.xml -text
src/org/jafer/conf/jdbcConfig/query.xsl -text
src/org/jafer/conf/jdbcConfig/server.xml -text
src/org/jafer/conf/logging.properties -text
src/org/jafer/conf/openURL.xml -text
src/org/jafer/conf/recordDescriptor.xml -text
src/org/jafer/conf/searchProfiles.xml -text
src/org/jafer/conf/server.xml -text
src/org/jafer/databeans/Adaptor.java -text
src/org/jafer/databeans/AdaptorFactory.java -text
src/org/jafer/databeans/DatabeanManager.java -text
src/org/jafer/databeans/DatabeanManagerFactory.java -text
src/org/jafer/databeans/JDBC.java -text
src/org/jafer/databeans/JDBCFactory.java -text
src/org/jafer/databeans/MySQLDatabean.java -text
src/org/jafer/databeans/QueryAdaptor.java -text
src/org/jafer/databeans/QueryAdaptorFactory.java -text
src/org/jafer/databeans/RecordAdaptor.java -text
src/org/jafer/databeans/RecordAdaptorFactory.java -text
src/org/jafer/databeans/TDSDatabean.java -text
src/org/jafer/exception/JaferException.java -text
src/org/jafer/interfaces/Authenticate.java -text
src/org/jafer/interfaces/Authentication.java -text
src/org/jafer/interfaces/Cache.java -text
src/org/jafer/interfaces/Connection.java -text
src/org/jafer/interfaces/Databean.java -text
src/org/jafer/interfaces/DatabeanFactory.java -text
src/org/jafer/interfaces/Deprecated.java -text
src/org/jafer/interfaces/Logging.java -text
src/org/jafer/interfaces/Present.java -text
src/org/jafer/interfaces/QueryBuilder.java -text
src/org/jafer/interfaces/Scan.java -text
src/org/jafer/interfaces/Search.java -text
src/org/jafer/interfaces/Sort.java -text
src/org/jafer/interfaces/Z3950Connection.java -text
src/org/jafer/query/QueryBuilder.java -text
src/org/jafer/query/QueryException.java -text
src/org/jafer/query/QueryParser.java -text
src/org/jafer/query/XMLCQLQuery.java -text
src/org/jafer/query/XMLRPNQuery.java -text
src/org/jafer/readinglist/Basket.java -text
src/org/jafer/record/AbstractCache.java -text
src/org/jafer/record/Cache.java -text
src/org/jafer/record/DataObject.java -text
src/org/jafer/record/Diagnostic.java -text
src/org/jafer/record/Field.java -text
src/org/jafer/record/GRS1Record.java -text
src/org/jafer/record/HashtableCache.java -text
src/org/jafer/record/MARC8Unicode.java -text
src/org/jafer/record/MARCRecord.java -text
src/org/jafer/record/OPACRecord.java -text
src/org/jafer/record/RecordException.java -text
src/org/jafer/record/RecordFactory.java -text
src/org/jafer/record/SUTRSRecord.java -text
src/org/jafer/record/TermRecord.java -text
src/org/jafer/record/XMLRecord.java -text
src/org/jafer/servlet/ServletUtil.java -text
src/org/jafer/servlet/ZServlet.java -text
src/org/jafer/servlet/ZiNGServlet.java -text
src/org/jafer/test/Demo.java -text
src/org/jafer/test/ServerStart.java -text
src/org/jafer/test/ServerTest.java -text
src/org/jafer/test/TestClient.java -text
src/org/jafer/test/TestSRW.java -text
src/org/jafer/util/ConnectionException.java -text
src/org/jafer/util/PDUDriver.java -text
src/org/jafer/util/xml/DOMFactory.java -text
src/org/jafer/util/xml/ErrorListener.java -text
src/org/jafer/util/xml/XMLSerializer.java -text
src/org/jafer/util/xml/XMLTransformer.java -text
src/org/jafer/util/xml/XMLTree.java -text
src/org/jafer/xsl/DC2LOM.xsl -text
src/org/jafer/xsl/DC2RLI.xsl -text
src/org/jafer/xsl/GILS2RLI.xsl -text
src/org/jafer/xsl/GRS1-GILS.xsl -text
src/org/jafer/xsl/MARC21.xsl -text
src/org/jafer/xsl/MARC21slim2DC.xsl -text
src/org/jafer/xsl/MARC21slim2MODS3.xsl -text
src/org/jafer/xsl/MARC21slim2OAIMARC.xsl -text
src/org/jafer/xsl/MARC2LOM.xsl -text
src/org/jafer/xsl/MARC2RLI.xsl -text
src/org/jafer/xsl/MODS2Up2MODS3.xsl -text
src/org/jafer/xsl/OAI2OPAC.xsl -text
src/org/jafer/xsl/OAIMARC2MARC21slim.xsl -text
src/org/jafer/xsl/OpenURL/MODS_list.xsl -text
src/org/jafer/xsl/OpenURL/MODS_single.xsl -text
src/org/jafer/xsl/OpenURL/OAI_list.xsl -text
src/org/jafer/xsl/OpenURL/OAI_single.xsl -text
src/org/jafer/xsl/RLIList.xsl -text
src/org/jafer/xsl/UKMARC.xsl -text
src/org/jafer/xsl/ZGet/MODS_list.xsl -text
src/org/jafer/xsl/ZGet/MODS_single.xsl -text
src/org/jafer/xsl/ZGet/OAI_list.xsl -text
src/org/jafer/xsl/ZGet/OAI_single.xsl -text
src/org/jafer/xsl/ZGet/OxfordCustomisation/OAI_list.xsl -text
src/org/jafer/xsl/ZGet/OxfordCustomisation/OAI_single.xsl -text
src/org/jafer/xsl/beans/bean-decode.xsl -text
src/org/jafer/xsl/beans/queryAdaptor.xsl -text
src/org/jafer/xsl/beans/recordAdaptor.xsl -text
src/org/jafer/xsl/bib1List.xsl -text
src/org/jafer/xsl/exception.xsl -text
src/org/jafer/xsl/jspViewItem.xsl -text
src/org/jafer/xsl/jspViewList.xsl -text
src/org/jafer/xsl/output.xsl -text
src/org/jafer/xsl/query.xsl -text
src/org/jafer/xsl/readingListTable.xsl -text
src/org/jafer/xsl/server/info.xsl -text
src/org/jafer/xsl/server/server-decode.xsl -text
src/org/jafer/xsl/soapException.xsl -text
src/org/jafer/xsl/zingResponse.xsl -text
src/org/jafer/zclient/AbstractClient.java -text
src/org/jafer/zclient/SRWClient.java -text
src/org/jafer/zclient/SRWSession.java -text
src/org/jafer/zclient/SerializationException.java -text
src/org/jafer/zclient/Session.java -text
src/org/jafer/zclient/ZClient.java -text
src/org/jafer/zclient/ZClientFactory.java -text
src/org/jafer/zclient/ZSession.java -text
src/org/jafer/zclient/operations/Init.java -text
src/org/jafer/zclient/operations/Present.java -text
src/org/jafer/zclient/operations/PresentException.java -text
src/org/jafer/zclient/operations/Scan.java -text
src/org/jafer/zclient/operations/Search.java -text
src/org/jafer/zserver/AdminServlet.java -text
src/org/jafer/zserver/Session.java -text
src/org/jafer/zserver/ZServer.java -text
src/org/jafer/zserver/ZServerManager.java -text
src/org/jafer/zserver/ZServerThread.java -text
src/org/jafer/zserver/authenticate/BasicAuthenticate.java -text
src/org/jafer/zserver/authenticate/UserCredentials.java -text
src/org/jafer/zserver/operations/Delete.java -text
src/org/jafer/zserver/operations/Init.java -text
src/org/jafer/zserver/operations/Operation.java -text
src/org/jafer/zserver/operations/OperationException.java -text
src/org/jafer/zserver/operations/Present.java -text
src/org/jafer/zserver/operations/Scan.java -text
src/org/jafer/zserver/operations/Search.java -text
src/org/jafer/zserver/operations/Sort.java -text
src/org/jafer/zserver/util/ContextListener.java -text
src/org/jafer/zserver/util/Lock.java -text
webapps/readinglist/WEB-INF/web.xml -text
webapps/readinglist/add.gif -text
webapps/readinglist/basket.jsp -text
webapps/readinglist/checkout.jsp -text
webapps/readinglist/error.jsp -text
webapps/readinglist/readingList.jpx -text
webapps/readinglist/readme.html -text
webapps/readinglist/recordDetail.jsp -text
webapps/readinglist/remove.gif -text
webapps/readinglist/search.jsp -text
webapps/readinglist/tomcat.gif -text
webapps/sample/WEB-INF/web.xml -text
webapps/sample/error.jsp -text
webapps/sample/query.html -text
webapps/sample/search.jsp -text
webapps/sample/show.jsp -text
webapps/search/WEB-INF/web.xml -text
webapps/search/advancedSearch.html -text
webapps/search/client.jsp -text
webapps/search/cross.gif -text
webapps/search/error.jsp -text
webapps/search/exampleSearch.html -text
webapps/search/find.gif -text
webapps/search/info.gif -text
webapps/search/item.jsp -text
webapps/search/left.gif -text
webapps/search/list.jsp -text
webapps/search/return.gif -text
webapps/search/right.gif -text
webapps/search/searchHelp.jsp -text
webapps/search/simpleSearch.html -text
webapps/search/viewHTML.gif -text
webapps/search/viewXML.gif -text
webapps/serverAdmin/WEB-INF/web.xml -text
webapps/servlet/WEB-INF/web.xml -text
webapps/servlet/corner-bl.gif -text
webapps/servlet/corner-br.gif -text
webapps/servlet/corner-tl.gif -text
webapps/servlet/corner-tr.gif -text
webapps/servlet/index.html -text
webapps/servlet/servlet.jpx -text
webapps/servlet/zget.css -text
webapps/wap/WEB-INF/web.xml -text
